

<!DOCTYPE html>
<html>
<head>


</head>
<body>

    <div class="container">
        <div class="row">
            <p class="col-sm-1">от=</p>   <input class="col-sm-1" type="number" value="-15" id="tt1" placeholder="начало x1" />
            <p class="col-sm-1">до=</p> <input class="col-sm-1" type="number" value="15" id="tt2" placeholder="конец x1" />
            <p class="col-sm-1">h=</p> <input class="col-sm-1" type="number" value="1" id="h2" placeholder="конец x1" />
        </div>
        <div class="row">
            <p class="col-sm-1">func=</p>  <input class="col-sm-1" type="text" value="0.5 * x1 * x1 + 0.5 * x2 * x2 - x1 - 2 * x2 + 5" id="func" placeholder="function" />

            <p class="col-sm-1">limitation=</p>  <input type="text" class="col-sm-1" value="+x1 + 4*x2<=+10" id="limitation1" placeholder="limitation1" />


            <p class="col-sm-1">limitation=</p> <input class="col-sm-1" type="text" value="+2*x1 + 3*x2>=+6" id="limitation2" placeholder="limitation2" />
        </div>
    </div>
    <div class="container">
        <div class="row">

            <p class="col-sm-1">bx=</p>  <input class="col-sm-1" type="number" id="bx" value="3" placeholder="bx" />



            <p class="col-sm-1">bz=</p>   <input class="col-sm-1" type="number" id="bz" value="0" placeholder="bz" />
        </div>


        <div class="row">
            <p class="col-sm-1">b=</p>   <input class="col-sm-1" type="number" value="1.5" id="b" placeholder="b" />


            <p class="col-sm-1">r=</p>
            <input class="col-sm-1" type="number" value="1" id="r" placeholder="r" />
        </div>
        <div class="row">
            <p class="col-sm-1">h=</p>
            <input class="col-sm-1" type="number" value="1" id="h" placeholder="шаг" />

            <p class="col-sm-1">е=</p>
            <input class="col-sm-1" type="number" value="0.1" id="e" placeholder="e" />
        </div>

        <p>
            <select id="minmax">
                <option disabled>Выберите мин или максимум</option>
                <option  selected value="min">мин</option>
                <option value="max">макс</option>
            </select>
        </p>
    </div>

    <button id="submit">Calculate</button>
    <div style="margin: auto; " id="mygraph"></div>
    <div style="margin: auto; " id="myDiv"></div>
    <div style="margin: auto; " id="myDiv2"></div>
    <div style="margin: auto;" id="mygraph2">linear</div>
    <script src="~/js/4.js" asp-append-version="true"></script>

</body>
</html>
